[submodule "lib/layout"]
	path = lib/layout
	url = https://github.com/enyojs/layout.git
[submodule "lib/onyx"]
	path = lib/onyx
	url = https://github.com/enyojs/onyx.git
[submodule "lib/mvc"]
	path = lib/mvc
	url = https://github.com/clinuz/mvc.git
[submodule "enyo"]
	path = enyo
	url = https://github.com/clinuz/enyo.git
[submodule "lib/amplify"]
	path = lib/amplify
	url = git://github.com/appendto/amplify.git
