.todos {
    .lists {
        width: 25%;
        max-width: 25%;
        min-width: 320px;
        .header {
            .popup {
                background-color: #444; 
                color: #fff; 
                border-radius: 6px; 
                padding: 20px;
            }
        }
        .footer {
            text-align: right;
            .details {
                .number {
                    margin: 0 3px;
                }
            }
        }
    }
}